<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>



    <link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">
    {% stylesheet main %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.inc.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title }}">  


<link rel="stylesheet" href="https://d1hjm33yswheja.cloudfront.net/CACHE/css/34411da7e681.css" type="text/css" />
       
</head>
<body>
    


<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.inc.logo }}" alt="Inc">
            </a>
            <a href="/" class="home">Blog</a>
            <a href="/app" class="app">Workbench</a>
            <a href="/about" class="about">Team</a>
            <a href="/resources" class="resources">Resources</a>

           <!-- {% if site.inc.product_link %}<a href="{{ site.inc.product_link }}">App</a>{% endif %}
            {% if site.inc.about_link %}<a href="{{ site.inc.about_link }}">About</a>{% endif %} -->
        </nav>


        {% if site.inc.tagline or site.inc.product_url %}<nav class="tagline">
            {% if site.inc.tagline %}<span>{{ site.inc.tagline }}</span>{% endif %}
            {% if site.inc.product_link %}

            <a href="http://healthdatapalooza.org/get-involved/code-a-palooza-at-health-datapalooza-2014/" class="btn btn-outline">About HDP</a>{% endif %}
        </nav>{% endif %}
    </header>
</section>

{{ content }}

<footer class="site-footer">
    <div class="container">
        &copy; 2014 TeamFloriduh

            <a href="/">Blog</a> &middot;
            <a href="/app">Workbench</a> &middot;
            <a href="/about">About</a>&middot;
            <a href="/resources">Resources</a>
        
        <nav class="social">
            <a href="https://twitter.com/teamfloriduh" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            <a href="http://facebook.com/laurencstill" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>  
            <a href="/feed.xml" title="RSS Feed"><i class="icon icon-rss black"></i></a>
        </nav>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
